 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1291px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 63px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1127px;
  margin: 70px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 486px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/2103A51560_P - Sai Nath Reddy.jpg");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-5 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/vamshi.jpg");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-6 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/nikh (1).jpg");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-7 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/nikh (3).jpg");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-8 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/GANDARLA ABHIRAM .png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-9 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/GAYAPU KARTHIK REDDY.png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-10 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/KOUTAM SRUTHI.png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-11 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/ADLA KRISHNAVENI.png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-12 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/APPALA DEEPTHI.png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-13 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/BUSSA SINDHUJA.png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-14 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/BANDI REETHIKA.png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-15 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/AKUTHOTA ANJALI.png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-16 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/PULIGILLA SAI CHARITH .png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-17 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/GAJJI VAMSHI KRISHNA.png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-18 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/MALYALA SPANDANA .png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-19 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/GOPU SUCHITHA.png");
  background-position: 93% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 486px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-2 {
  height: 257px;
  object-position: 50% 60.72%;
  width: 257px;
  background-image: url("images/image/AVULA SHIVA KUMAR .png");
  background-position: 100% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 486px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-image-3 {
  height: 257px;
  object-position: 50% 46.55%;
  width: 257px;
  background-image: url("images/pexels-gustavo-fring-3983570.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 531px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-image-4 {
  height: 257px;
  object-position: 50% 37.76%;
  width: 257px;
  background-image: url("images/image/GOLI SRINATH REDDY .png");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 531px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 405px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 443px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 443px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 220px;
    width: 220px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    height: 187px;
    width: 187px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    height: 187px;
    width: 187px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    height: 187px;
    width: 187px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 339px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 763px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 480px;
  }
}