{%extends "users/base.html"%}
    {%block content%}


  <tr >
        <td ><label for="pwd">Enter  new Password:</label></td>
        <td ><input type="password" placeholder="Renter password" name="repwd" id="repwd"></td>
    </tr>
    <tr >
        <td ><label for="pwd">Re-enter new Password:</label></td>
        <td ><input type="password" placeholder="Renter password" name="repwd" id="repwd"></td>
    </tr>
    <tr>
        <td colspan="2" class="sb1">
        <button  class="sb" type="submit">Submit</button>
        </td>
    </tr>





    {% endblock %}