 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1291px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 63px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1127px;
  margin: 70px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 486px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/2103A51560_P - Sai Nath Reddy.jpg");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-5 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/vamshi.jpg");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-6 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/nikh (1).jpg");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-7 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/nikh (3).jpg");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-8 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/GANDARLA ABHIRAM .png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-9 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/karthik.jpg");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-10 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/KOUTAM SRUTHI.png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-11 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/ADLA KRISHNAVENI.png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-12 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/APPALA DEEPTHI.png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-13 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/BUSSA SINDHUJA.png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-14 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/BANDI REETHIKA.png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-15 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/AKUTHOTA ANJALI.png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-16 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/PULIGILLA SAI CHARITH .png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-17 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/GAJJI VAMSHI KRISHNA.png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-18 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/MALYALA SPANDANA .png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-19 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/GOPU SUCHITHA.png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-20 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/HAFSA .png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-21 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/JILLELLA AKHILA.png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-22 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/JULAKANTI KARUNA SRI.png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-23 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/KARUPOTHULA TEJASWINI.png");
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-24 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/DASARI SHALINI.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-25 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/KONA SRILEKHA.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-26 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/KELAPU KRISHNAVENI.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-27 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/KUSUMA SUHANI.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-28 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/LADE KAVERI .png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-29 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/LINGAMPALLY SRIVARDHAN RAO .png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-30 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/SHAIK SIRAJ .png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-31 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/MAMIDALA NIKILESH .png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-32 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/MANIKANTI VARSHITHA REDDY.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-33{
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/MEDEDHI PAVAN SAI .png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-34 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/MITTAPALLI KIRANMAI .png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-35 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/MOHAMMED AMAN SAMI UR RAHMAN.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-36 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/MOHAMMED NIZAMUDDIN.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-37 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/NAINAKANTI DEEPAK REDDY.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-38{
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/NALLALA SAI ANUDEEP .png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-39 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/NARAHARI SIRI CHANDHANA REDDY .png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-40 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/PAIDI MADHU.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-41 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/PAKA SATHVIKA.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-42{
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/PAMERA SHIRISHA .png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-43{
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/PEDDAPALLY MRUNALINI .png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-44{
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/POTHUGANTI SAIPAVANI.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-45 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/DONDAPATI HRITHVIK REDDY.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-46 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/RASHMIKA NAGULA .png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-47{
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/SAMALA SWATHI .png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-48 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/SANDI SRIJA.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-49 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/FARIHA MAHEEN.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-50 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/SANGINENI HRISHITHA .png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-51 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/SANGINENI SRIJA.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-52 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/SIRIKONDA SAHITHI.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-53 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/SRIJA CHAKILAM .png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-54 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/TANIPARTHI ABHILASH RAO .png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-55 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/THOGARU SATHVIKA .png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-56 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/THOTA SRIYA .png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-57 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/VALABOJU PAVAN KUMAR.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-58 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/VEIGANLLA ASHWINI.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-59 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/VELDANDI KETHAN KUMAR .png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-60{
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/VODELA SAI SHASHANK.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-61 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/YELLANKI SUSHMA 5.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-62 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/BASVA LALITHAVANI.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-63 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/BERE BHANU SRI.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-64 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/CHALLAGURUGULA VINAY.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-65 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/CHILUPURI SUMANTH .png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-66 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/CHITTETI SOUMIKA.png");    
  background-position: 93% 50%;
  margin: 0 auto;
}
.u-section-1 .u-image-67 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/image/CHUKKA VARSHA .png");    
  background-position: 93% 50%;
  margin: 0 auto;
}



.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 486px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-2 {
  height: 257px;
  object-position: 50% 60.72%;
  width: 257px;
  background-image: url("images/image/AVULA SHIVA KUMAR .png");
  background-position: 100% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 486px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-image-3 {
  height: 257px;
  object-position: 50% 46.55%;
  width: 257px;
  background-image: url("images/pexels-gustavo-fring-3983570.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 531px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-image-4 {
  height: 257px;
  object-position: 50% 37.76%;
  width: 257px;
  background-image: url("images/image/GOLI SRINATH REDDY .png");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 531px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 405px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 443px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 443px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 220px;
    width: 220px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    height: 187px;
    width: 187px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    height: 187px;
    width: 187px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    height: 187px;
    width: 187px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 339px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 763px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 480px;
  }
}